.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  
  color: #8fdb95;
}
  
  .mblog,.about,.git,.linked,.regi,.lout,.draft,.npost{
    color: black;
  }
  
  .postdate{
    text-align: center;
  }
  .postlist{
     background-color: ghostwhite;
  }
  .date{
      font-style: italic;
  }
  .posttitle{
    font-family: 'Russo One', sans-serif;
    font-size: 3em;
    text-align: center;
  }
  .postauthor{
    text-align: center;
    text-emphasis-color: #8fdb95;
  }
  .postcontent{
    font-family: 'Montserrat';
    font-size: 1.5em;
  }
  
  .centerstage{
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-comment{
    position: absolute;
    right: 0px;
  }
  
  .bigbrand{
    font-size: 1.5em;
  }
  .loader{
    padding-top: 80px;
  }
  
  /*COLOR CHANGER*/
  /*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO
  .loader{
    filter:hue-rotate(0deg);
    color: linear-gradient(45deg,#0f8,#08f);
    animation:hue 5000ms infinite linear;
  }
  
  @keyframes spinify {
    0% {
      transform: translate(0px,0px);
  
    }
    33% {
      transform: translate(0px,24px);
      border-radius:100%;
      width:10px;
      height:10px;
  
    }
     66% {
      transform:translate(0px,-16px);
    }
  
     88% {
      transform:translate(0px,4px);
  
    }
    100% {
      transform:translate(0px,0px);
    }
  }
  @keyframes hue{
    0%{filter: hue-rotate(0deg);}
    100%{filter:hue-rotate(360deg);}
  
  }
  */

  .mynav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .mynav a {display: none;}
    .mynav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .mynav.responsive {position: relative;}
    .mynav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .mynav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }